:root{
    --colorprimario: #037dda;
    --colorsecundario: rgb(19, 163, 0);
    --colormenuhover: #f7f7f7;
    --fuenteprincipal: 15px;
    --colorclaro: #e6e6e6;
    --blanco: white;

}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
  }

  body{
      color: var(--colorprimario);
      font-size: 1.6rem; 
      font-family: 'Roboto', sans-serif;
      background-image:
      linear-gradient(to top, var(--colorclaro) 0%, var(--blanco) 100%);
  }
  
  h1{
      font-size: 4.2rem;
  }
  h2 {
      font-size: 3.2rem;
  }
  h3{
      font-size: 2.2rem;
  }
  h1, h2 , h3 {
      text-align: center;
  }
  span{
      font-size: 1.7rem;
  }
   .contenedor{
       max-width: 120rem;
       margin: 0 auto;
   }
   .boton{
       background-color: var(--colorprimario);
       color: white;
       text-decoration: none;
       padding: 2rem 3rem;
       margin-top: 3rem;
       font-size: 1.8rem;
       text-transform: uppercase;
       font-weight: 500;
       border-radius: 5rem;
       width: 90%;
       text-align: center;
   }
 .boton:hover{
     background-color: var(--colormenuhover);
     color: black;
     font-weight: 900;

}
@media (min-width: 760px){
    .boton{
        width: auto;
    }
}
 
.sombra{
    -webkit-box-shadow: 0px 13px 18px -8px rgba(163,163,163,0.54);
    -moz-box-shadow: 0px 13px 18px -8px rgba(163,163,163,0.54);
    box-shadow: 0px 13px 18px -8px rgba(163,163,163,0.54);
    background-color: white;
    padding: 3rem 4rem;
    border-radius: 2rem;
}

/* navegacion ***/
.Navegacion-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px){
    .Navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
    
}
.Navegacion-principal a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 1000;
    padding: 3rem 3rem;
}
.Nav_bg{
    background-color: var(--colorsecundario);
}
.Navegacion-principal a:hover{
    background-color: var(--colormenuhover);
    color: rgb(255, 0, 0);
}
/*Hero */
.Hero{
    background-image: url(../Imagenesweb/Quesadilla.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem ;
    position: relative;
    margin-bottom: 3rem;
}

.Contenido_Hero{
    position: absolute;
    background-color: rgba(0 0 0 /75%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenedor-hero h2, .contenedor-hero p{
    color: white;
}
.contenedor h2{
    color: red;
    
}

@media (min-width: 768px){
    .comentarios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4rem;
        text-align: center;
    }
}

.comentario table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 70%;
    background-image: url(../Imagenesweb/aguasfrescas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem ;
    position: relative;
    margin-bottom: 3rem;
    
}
.comentario tr,td {
    padding: 50px;
    text-align: center;
  }
.comentario td{
    line-height: 3rem;
    font-size: 150%;
    color: rgb(32, 255, 11);
}
.comentario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comentario h3{
    color: black;
}

.comentario .iconos{
    height: 10rem;
    width: 10rem;
    background-color: #015383;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
}

.Final {
    background-color: red;
    font-weight: 1000;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: normal;
}
.Final h2 {
    color: white;
    font-size: 150%;
    text-decoration: none;
    font-weight: 1000;
    padding: 1rem 1rem;
   text-align: left;
}
.Redes img{
    text-align: left;
 }

